node_modules
dist
out
cache
.env
.DS_Store
.pocrc.json
Library/
cli/report.json
cli/badge-metadata.json
docs/.Rhistory
*.tsbuildinfo
artifacts
typechain-types
coverage
contracts/node_modules
cli/node_modules
